version: "3.8"

services:
  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: mosquitto
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - mosquitto_data:/mosquitto/data
      - mosquitto_logs:/mosquitto/log
    environment:
      - TZ=Asia/Jakarta
    restart: unless-stopped
    networks:
      - production

volumes:
  mosquitto_data:
  mosquitto_logs:

networks:
  production:
    driver: bridge
